<div class="sidebar">
	<div class="sidebar-header">
		<h1 class='sidebar-brand'>
			<a href="{{ site.baseurl }}">{{ site.title }}</a>
		</h1>
		<p class="lead">{{ site.description }}</p>
	</div>

	<nav class="sidebar-nav">
		<ul class="nav">
	      <li class="nav-title">Pages</li>
		  <li>
		  	<a class="nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
		  </li>
		  {% assign pages_list = site.pages %}
		  {% for node in pages_list %}
		    {% if node.title != null %}
		      {% if node.layout == "page" %}
		        <li>
		        	<a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
		            	{{ node.title }}
		            </a>
		        </li>
		      {% endif %}
		    {% endif %}
		  {% endfor %}
		</ul>
	</nav>

	<nav class="sidebar-nav">
	  	<ul class="nav">
  			<li class="nav-title">Categories</li>
		    {% for category in site.categories %}
		    <li class="sidebar-nav-item">
		    	<a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="sidebar-nav-item pl-3rem">
					<span class="name">{{ category | first }}</span>
					<span class="badge">{{ category | last | size }}</span>
		    	</a>
     		</li>
		    {% endfor %}
		  </nav>
		</ul>
    </nav>
</div>